{% extends 'base.html' %}
{% block delete %}
<div class="container my-5">
    <form method="POST" action="delete">
        {% csrf_token %}
        <h3>DELETE :</h3>
        <p>Enter the email address of the record that is to be deleted.</p>

        <div class="form-group my-3">
            <label for="exampleInputEmail1">Email address :</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
        <a class="btn btn-primary ml-2" href="\" role="button">Back</a>



    </form>
</div>
{% endblock delete %}