{% extends 'base.html' %}
{% block update %}


<div class="container my-5">
    <form action="updateform" method="GET">
        {% csrf_token %}
        <h3>UPDATE :</h3>
        <p>Enter the email address of the record that is to be updated.</p>
        <a class="btn btn-primary" href="\" role="button">Back</a>
        <div class="form-group my-3">
            <label for="exampleInputEmail1">Email address :</label>
            <input type="emailUpdate" class="form-control" id="emailUpdate" aria-describedby="emailHelp" name="emailUpdate">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>


{% endblock update %}